<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" sizes="152x152" href="~/Views/Shared/images/appicon.jpg">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Views/Shared/images/appicon.jpg">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>@ViewBag.Title - Hero Guide</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hero Guide", "Index", "Heroes", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Heroes", "Index", "Heroes")</li>
                </ul>
            </div>
        </div>
    </div>


    <header id="banner">
        <h1>Welcome to Your Hero Guide!</h1>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar-fixed-bottom">
            <p class="text-center">&copy; @DateTime.Now.Year - Hero Guide</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
